{% load static %}

<div class="author">
  <div class="author-details">
    <img class="avatar" src="{% static '/wow.jpg' %}"/>
    <div class="author-name">
      <h1>Bartosz Wiśniewski</h1>
      <span class="socials">
        <a href="https://twitter.com/pr0gramista"><img src="{% static '/images/twitter.png' %}"></a>
        <a href="https://github.com/pr0gramista"><img src="{% static '/images/github.png' %}"></a>
        <a href="https://www.youtube.com/channel/UCHPUGfK2zW0VUNN2SgCHsXg"><img src="{% static '/images/youtube.png' %}"></a>
      </span>
    </div>
  </div>
  <div class="author-description">
    Full Stack do wszystkiego (serio). Z programowaniem mam do czynienia już od ponad 5 lat. Zajmowałem się tworzeniem
    aplikacji mobilnych i gier. Lubię Pythona, Go i JavaScript (ale tą dobrą stronę). Czasem buduję zabawki z Arduino.
  </div>
</div>