{% load static %}

<div class="author">
  <div class="author-details">
    <img class="avatar" src="{% static '/wow.jpg' %}"/>
    <div class="author-name">
      <h1>Bartosz Wiśniewski</h1>
      <span class="socials">
        <a href="https://twitter.com/pr0gramista"><img src="https://pr0gramista.pl/media/images/social_links/twitter-circle.png"></a>
        <a href="https://github.com/pr0gramista"><img src="https://pr0gramista.pl/media/images/social_links/github-circle.png"></a>
        <a href="https://www.youtube.com/channel/UCHPUGfK2zW0VUNN2SgCHsXg"><img src="https://pr0gramista.pl/media/images/social_links/youtube-play.png"></a>
      </span>
    </div>
  </div>
  <div class="author-description">
    Nadeszła wiosna i wraz z nią oferty pracy. Byłem kilku rozmowach, na każdej następnej czułem się coraz lepszy.
    Na ostatniej nawet się bawiłem. Najwidoczniej kiedy mniej mi na czymś zależy tym lepiej mi to wychodzi
  </div>
</div>