{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Blog o programowaniu">
  <meta name="keywords" content="programowanie">
  <meta name="author" content="Bartosz Wiśniewski">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" href="{% static "/favicon-32x32.png" %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static "/favicon-16x16.png" %}" sizes="16x16">
  <link rel="manifest" href="{% static "/manifest.json" %}">
  <link rel="mask-icon" href="{% static "/safari-pinned-tab.svg" %}" color="#1f262c">
  <meta name="theme-color" content="#282c34">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="RSS blog pr0gramista" href="/rss" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lora" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-dark.min.css">
  <link href="{% static '/css/styles.css' %}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header id="top">
      <nav>
        <a href="/" class="logo">>PR0GRAMISTA_</a>
        <a href="/" class="logo__small">>_</a>
        <span class="spacer"></span>
        {% for page in pages %}
        <a href="{% url 'page' page.slug %}">[ {{ page.title }} ]</a>
        {% endfor %}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <nav>
        <span class="logo">>_</span>
        <span class="spacer"></span>
        <a href="#top">Idź do góry<i class="material-icons">arrow_upward</i></a>
        <span>Rozwijane z myślą o środowisku.</span>
      </nav>
    </footer>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {% include "blog/analytics.html" %}
</body>
</html>
