{% extends "blog/base.html" %}

{% block title %}PR0GRAMISTA{% endblock %}

{% block content %}
{% if posts %}
  {% for post in posts %}
  <div class="mdl-cell {% if forloop.counter0|divisibleby:3 %}mdl-cell--12-col{% else %}mdl-cell--6-col mdl-cell--12-col-tablet{% endif %}">
    <style>
    #{{post.slug}} .post-widget-title {
      background-color: {{post.title_background}};
      {% if forloop.counter0|divisibleby:3 %}
      font-size: {{ post.title_size }}px;
      {% else %}
      font-size: {% widthratio post.title_size 1.5 1%}px;
      {% endif %}
    }
    </style>
    <div class="post-widget mdl-shadow--3dp" id="{{post.slug}}">
      <a href="{% url 'post' post.slug %}">
        <img src="{{ post.image.url }}"/>
        <div class="post-widget-title-wrapper"><span class="mdl-shadow--4dp post-widget-title">{{ post.title }}</span></div>
      </a>
    </div>
  </div>
  {% endfor %}
{% endif %}
{% endblock %}
