{% extends "blog/base.html" %}

{% block title %}{{ post.title }} | PR0GRAMISTA{% endblock %}

{% block content %}
<div class="container">
    <article>
      <div class="meta">
        {% if post.category %}<img class="tech-logo" src="{{ post.category.image.url }}" />{% endif %}
        <div class="meta-text">
          <span class="date-published">Opublikowane {{ post.pub_date|date:'d E Y' }}</span>
          <span class="read-time">{{ post.read_time }}</span>
          </div>
        <span class="spacer"></span>
        <span><i class="material-icons" onclick="dupa">bookmark_border</i></span>
      </div>
      {% if not post.published %}
      <div class="red-ribbon">Niepublikowane</div>
      {% endif %}
      <div class="content">
        <h1>{{ post.title }}</h1>
        {{ post.content|safe }}
      </div>
    </article>
    {% include "blog/author.html" %}
    <div id="disqus_thread"></div>
  </div>
  <script>
  var disqus_config = function () {
    this.page.url = location.origin + '{{ request.path }}';
    this.page.identifier = location.origin + '{{ request.path }}';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://pr0gramista.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Komentarze wymagają JavaScripta :C</noscript>
</article>
{% endblock %}
