{% extends post.fullwidth|yesno:"blog/base-fullwidth.html,blog/base.html" %}

{% block title %}{{ post.title }} | PR0GRAMISTA{% endblock %}

{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  {{ post.content|safe }}
  
  <div>
    <style scoped>
    a {
      text-decoration: none;
    }
    </style>
    {% for tag in post.tags.all %}
    <a href="{% url 'tag' tag.slug %}">
      <span class="mdl-chip">
        <span class="mdl-chip__text">{{ tag.name }}</span>
      </span>
    </a>
    {% endfor %}
  </div>
</article>
{% endblock %}
